body{
    margin: 0px;
    background-color: black;
    color: white;
}

/* nav-container, image1, list-container, a1,.......footer-container, footer1, image2, copyrights
    span1,  */

.nav-container{
    background-color: blue;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
header{
    top: 0px;
    position: sticky;
}
.image1{
    height: 50px;
    width: 50px;
    border-radius: 30px;
}
.list-container,.a1{
    display: flex;
    justify-content: space-around;
    color: white;
    list-style-type: none;
}
.a1{
    margin: 10px;
    font-weight: bold;
    font-family: 'roboto';
}
footer{
    background-color: rgb(56, 104, 192);
    padding-top: 40px;
    padding-bottom: 20px;
}
.footer-container{
    display: flex;
    justify-content: space-around;
}
.image2{
    height: 100px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 20px 20px 20px black;
    background-color: white;
}
.footer1{
    color: white;
    font-weight: bold;
}

.copyrights{
    color: white;
    display: flex;
    justify-content: center;
}
.span1{
    margin-left: 5px;
}
.top-sec{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    position: fixed;
}
.top-image{
    height: 40px;
    width: 40px;
    padding-left: 3px;
    /* transition-duration: 3s; */
}
.top-btn{
    background-color: yellow;
    padding: 3px;
    margin-top: 10px;
    cursor: pointer;
    width: 50px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.top-btn:hover{
    padding-left: 70px;
    transition-duration: 1s;
}


/* Queries CSS */



.queries-container-asked{
    padding: 30px;
    color: black;
    font-weight: bold;
}
.queries{
    padding: 20px;
    border-radius: 20px;
    border: aqua solid 2px;
    margin-bottom: 40px;
    background-image:linear-gradient(white,rgb(0, 255, 0));
    box-shadow: 1px 10px 10px black;
    margin-left: 30px;
    margin-right: 30px;
}
.queries:hover{
    box-shadow: red 10px 20px 15px;
    border: 3px solid red;
}
.queries-head{
    font-size: 40px;
    color: white;
    margin-left: 30px;
}
.text-area{
    border-radius: 10px;
    padding-left: 10px;
    font-size: 20px;
    margin-bottom: 30px;
    margin-left: 30px;
}
.queries-button{
    border-width: 0px;
    color: white;
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    width: 150px;
    cursor: pointer;
    margin-left: 30px;
}
.footer-anchor{
    text-decoration: none;
    color: white;
}